.home {
  font-family: "Poppins", sans-serif;
  margin-top: 150px;
}

.home h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #343a40;
  font-size: 26pt;
  /* background: url(/src/assets/jezael-melgoza-cv3T6MG36DE-unsplash.jpg) no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-position: 30% 30%; */
}

.home h6 {
  font-size: 8pt;
  font-style: italic;
  color: #dcdde1;
  margin-left: auto;
  margin-right: auto;
}

.home .row input[type="text"] {
  width: 500px;
  color: #ffffff;
  background-image: linear-gradient(grey, grey),
    url(/src/assets/jezael-melgoza-cv3T6MG36DE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 43%;
  background-blend-mode: multiply;
}

::placeholder {
  color: #ffffff;
}

.home h3 {
  font-size: 12pt;
  color: #dcdde1;
  margin-left: auto;
  margin-right: auto;
}

.home .row .table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #dcdde1;
  width: 100%;
}

.home .row .table thead {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/jezael-melgoza-xFoij1E4zic-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 70% 57%;
  background-blend-mode: multiply;
}

.home .row .table th {
  font-size: 11pt;
  text-transform: uppercase;
  color: #ffffff;
}

.home .row .table tbody th {
  font-size: 11pt;
  text-transform: none;
  background-color: white;
  color: #343a40;
}

.home .row .table td {
  font-size: 11pt;
}

.home .row .table tbody th:hover,
.home .row .table tr:hover {
  background-color: #ddd;
  transition: 0.3s;
}
