.home {
  font-family: "Poppins", sans-serif;
  margin-top: 150px;
}

.home h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #343a40;
  font-size: 26pt;
}

.home h6 {
  font-size: 8pt;
  font-style: italic;
  color: #dcdde1;
  margin-left: auto;
  margin-right: auto;
}

.home .row input[type="text"] {
  width: 500px;
}

.home .row .table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #dcdde1;
  width: 100%;
}

.home .row .table th {
  font-size: 11pt;
  text-transform: uppercase;
  background-color: #00834e;
  color: #ffffff;
}

.home .row .table tbody th {
  font-size: 11pt;
  text-transform: none;
  background-color: white;
  color: #343a40;
}

.home .row .table td {
  font-size: 11pt;
}

.home .row .table tbody th:hover,
.home .row .table tr:hover {
  background-color: #ddd;
  transition: 0.3s;
}
