.help {
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
}

.help h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #343a40;
  font-size: 26pt;
}

.help h6 {
  font-size: 8pt;
  font-style: italic;
  color: #dcdde1;
  margin-left: auto;
  margin-right: auto;
}

.help .row .col {
  margin-right: 10px;
  padding: 20px;
  text-align: center;
  border: 1px solid #dcdde1;
  width: 100%;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(220, 221, 225, 1);
  -moz-box-shadow: 0px 0px 30px 5px rgba(220, 221, 225, 1);
  box-shadow: 0px 0px 30px 5px rgba(220, 221, 225, 1);
}

.help .row .col svg {
  fill: #abe4cd;
}

.help .row .col h5 {
  font-weight: 600;
  font-size: 13pt;
  background: url(/src/assets/jezael-melgoza-cv3T6MG36DE-unsplash.jpg) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 50% 50%;
}

.help .row .col:hover {
  text-decoration: none;
  transition: 0.3s;
  color: #abe4cd;
}

.help .row .a-help:hover {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/jezael-melgoza-cv3T6MG36DE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 10% 50%;
  background-blend-mode: multiply;
}

.help .row .b-help:hover {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/jezael-melgoza-cv3T6MG36DE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 50%;
  background-blend-mode: multiply;
}

.help .row .c-help:hover {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/jezael-melgoza-cv3T6MG36DE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 90% 50%;
  background-blend-mode: multiply;
}

.help h2 {
  margin-top: 80px;
  color: #343a40;
  font-size: 14pt;
}

.help hr {
  width: 30%;
}

.help .box-help {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 20px;
  width: 700px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #dcdde1;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(220, 221, 225, 1);
  -moz-box-shadow: 0px 0px 30px 1px rgba(220, 221, 225, 1);
  box-shadow: 0px 0px 30px 1px rgba(220, 221, 225, 1);
  text-align: start;
  font-size: 12pt;
  font-weight: 600;
  color: #343a40;
}

.help .box-help svg {
  color: #abe4cd;
}

.help .box-help:hover,
.help .box-help:hover svg {
  text-decoration: none;
  transition: 0.3s;
  background-color: #abe4cd;
  color: #ffffff;
}

@media (min-width: 300px) and (max-width: 568px) {
  .help .row .col {
    margin-right: 10px;
    margin-left: 10px;
  }

  .help .row .col h5 {
    font-size: 8pt;
  }

  .help .box-help {
    width: 285px;
    font-size: 8pt;
  }
}