.csupport {
  font-family: "Poppins", sans-serif;
  margin-top: 60px;
}

.csupport h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #343a40;
  font-size: 26pt;
}

.csupport h6 {
  font-size: 7pt;
  color: #00472b;
  font-style: italic;
}

.csupport h6 img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

.csupport .section1-csupport {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/mario-gogh-VBLHICVh-lI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 50% 50%;
  background-blend-mode: multiply;
  color: #dcdde1;
  margin-right: 25px;
}

.csupport .section1-csupport h2 {
  margin-left: 35px;
  font-size: 36pt;
}

.csupport .section1-csupport h4 {
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 25px;
  font-size: 11pt;
}

.csupport .section1-csupport h4 span {
  display: block;
  line-height: 2;
}

.csupport .section1-csupport svg {
  margin-bottom: 25px;
  color: #343a40;
}

.csupport .section1-csupport a:hover svg {
  color: #dcdde1;
  transition: 0.3s;
}

.csupport h5 {
  font-size: 8pt;
  color: #dcdde1;
}

.csupport .row h3 {
  font-size: 10pt;
  margin-top: 15px;
  color: #343a40;
}

.csupport .form-control {
  padding: 20px 18px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0.5px solid #dcdde1;
  font-size: 10pt;
}

.csupport .row input[type="submit"] {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  font-size: 10pt;
  color: #343a40;
  border: 1px solid #343a40;
  border-radius: 10px;
}

.csupport .row input:hover[type="submit"]:hover {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/jezael-melgoza-cv3T6MG36DE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 10% 50%;
  background-blend-mode: multiply;
  color: #dcdde1;
  text-decoration: none;
  transition: 0.3s;
}
