.update {
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
}

.update h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #343a40;
  font-size: 26pt;
}

.update h6 {
  font-size: 8pt;
  font-style: italic;
  color: #dcdde1;
  margin-left: auto;
  margin-right: auto;
}

.update .row h3 {
  font-size: 10pt;
  margin-top: 15px;
  color: #343a40;
}

.update .row h4 {
  font-size: 6pt;
  color: #343a40;
}

.update .form-control {
  padding: 18px 18px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0.5px solid #dcdde1;
  font-size: 10pt;
}

.update .row input[type="submit"] {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  font-weight: bold;
  font-size: 10pt;
  color: #343a40;
  border: 0px solid #dcdde1;
  background: linear-gradient(#343a40, #1a1f27);
  color: #dcdde1;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
}

.update .row input:hover[type="submit"]:hover {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/jezael-melgoza-cv3T6MG36DE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 10% 50%;
  background-blend-mode: multiply;
  color: #dcdde1;
  text-decoration: none;
  transition: 0.3s;
}

.update .row .delete-update {
  border: 1px solid #343a40;
}

@media (min-width: 300px) and (max-width: 568px) {
  .update .row .col{
    margin-left: 100px;
    padding: 0px;
  }

  .update .row .col input[type="text"]{
    width: 150px;
    margin-right: 0px;
    font-size: 10pt;
  }

  .update .row .delete-update h3{
    margin-left: 10px;
    font-size: 9pt;
  }

  .update .row .delete-update h4{
    margin-left: 10px;
    font-size: 5pt;
  }

  .update .row .delete-update .ml-5{
    margin-left: 0px !important;
    padding: 0px !important;
    margin-right: 10px;
  }

  .update .row input[type="submit"] {
    margin-bottom: 45px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .update .row .delete-update {
    border: 1px solid #343a40;
    margin-left: 5px;
    margin-right: 5px;
  }
}
