.summary {
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
}

.summary h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #343a40;
  font-size: 26pt;
}

.summary h6 {
  font-size: 8pt;
  font-style: italic;
  color: #dcdde1;
  margin-left: auto;
  margin-right: auto;
}

.summary .row .col {
  margin-right: 10px;
  padding: 20px;
  text-align: center;
  border: 1px solid #dcdde1;
  width: 100%;
}

.summary .row .a-summary {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/ant-rozetsky-SLIFI67jv5k-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 40%;
  background-blend-mode: multiply;
}

.summary .row .b-summary {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/adrien-olichon-21cM88URmjo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 40%;
  background-blend-mode: multiply;
}

.summary .row .c-summary {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 45%;
  background-blend-mode: multiply;
}

.summary .row .col h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 11pt;
  text-transform: uppercase;
  color: #dcdde1;
}

.summary .row .col h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-size: 34pt;
  color: #abe4cd;
}

.summary h2 {
  margin-top: 80px;
  color: #343a40;
  font-size: 14pt;
}

.summary hr {
  width: 30%;
}

/* .summary .row a {
  margin-right: 10px;
  margin-left: 10px;
} */

.summary .box-summary {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 20px;
  width: 700px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(220, 221, 225, 1);
  -moz-box-shadow: 0px 0px 30px 1px rgba(220, 221, 225, 1);
  box-shadow: 0px 0px 30px 1px rgba(220, 221, 225, 1);
  text-align: start;
  font-size: 12pt;
  font-weight: 600;
  color: #343a40;
}

.summary .box-summary svg {
  color: #abe4cd;
}

.summary .box-summary:hover,
.summary .box-summary:hover svg {
  text-decoration: none;
  transition: 0.3s;
  background-color: #abe4cd;
  color: #ffffff;
}

@media (min-width: 300px) and (max-width: 568px) {
  .summary .row .a-summary,
  .summary .row .b-summary,
  .summary .row .c-summary {
    background-size: 250%;
  }

  .summary .row .col h3 {
    font-size: 9pt;
  }

  .summary .row .col h5 {
    font-size: 24pt;
  }
}
